/* GOOGLE FONT IMPORTED: font-family: 'Roboto', sans-serif; */

body {
    /* font-family: helvetica, 'Courier New', Courier, monospace; */
    font-family: 'Roboto', sans-serif;
    margin: 0rem auto;
}
.picInfo, .textContent,.one, .two, .three {
    text-align: center;
}
.mobile {
    width: 100%;
}
.webBox {
    border-radius: 20px;
    background-color: #f0f0f5;
    padding: .7em;
    margin-bottom: 1em;
}
.titleBox {

}
a {
    text-decoration: none;
}

/* CSS GRID STYLES--------------------------------------------------- */
#wrapper {
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 1em;
}
#head {
    grid-column: 1/ span 3;
    background-color: #001a33;
    color: aliceblue;
}
#one {
    grid-column: 1/ span 1;
}
#two {
    grid-column: 2 / span 1;
}
#three {
    grid-column: 3 / span 1;
}
#foot {
    grid-column: 1/ span 3;
    background-color: #001a33;
    color: aliceblue;
}


