
/* TABLET VIEW  ************************* */

@media (min-width: 320px) {
    nav {
        flex-direction: row;
        justify-content: end;
    }
    nav div a {
        font-size: 1.1rem;
    }
    nav div a:last-child {
        margin-right: 2.5rem;
    }
/* ************ END NAV ************** */
    .logo {
        height: 15rem;
        width: 15rem;
        border-radius: 40px;
    }
    .contain_centered {
        text-align: center;
        padding: .8rem;
    }



    /* *********************** CSS GRID elements ********************** */

    #wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
  
    }
    nav {
        grid-column: 1 / span 2;
    }
    header {
        grid-column: 1 / span 2;
    }
    #first {
        grid-column: 1 / span 1;
    }
    #second {
        grid-column: 2 / span 1;
    }
    header,
    #first,
    #second {
        padding: 0 1rem;
    }
    footer {
        grid-column: 1 / span 2;
    }
/* ******************* AUDIENCE PAGE ******************** */




}