
/* PHONE VIEW  ************************* */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
    min-height: 100vh; 
	font-family: Roboto, Helvetica, sans-serif;
    background-color: azure;
}

/* ************** NAV STYLES ******************* */
nav {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    max-width: 960px;
    margin: 0 auto;

    background-color: #0C1D36;
    text-align: center;
    box-shadow: 0 0 30px #333;
}
nav div {
    margin: 0;
    padding: 1.5rem;
}
nav div a {
    display: block;
    color: #F9CC0B;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    font-size: 0.9rem;
}
nav div:hover {
    background-color: lightslategray;
}

/* *********************** CSS GRID elements ********************** */

#wrapper {
    max-width: 960px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
}

/* ******************* OTHER CSS **************************** */

header,
#first,
#second {
    margin: .5rem;
    justify-content: center;
}

.title {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

h1 {
    margin: 0 auto;
}

footer {
    background-color: #0C1D36;
    color: #F9CC0B;
    padding: 1rem;
}

.logo {
    height: 10rem;
    width: 10rem;
    border-radius: 40px;
}


