
/* GOOGLE FONT IMPORTED: font-family: 'Roboto', sans-serif; */

html {
    background-image: linear-gradient(90deg, #111a00, #334d00 );
}
body {
    /* font-family: helvetica, 'Courier New', Courier, monospace; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    color: aliceblue;
    margin: 0;
}
header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}
nav {
    margin-top: 2.5em;
    /* background-color:; */
}
ul {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
header {
    background-color: #446600;
    color: white;
    font-size: larger;
    margin-top: 2em;
    border-radius: 1.5em; 
    box-shadow: 0 0 7px 7px aliceblue;
}
footer {
    line-height: .2em;
}
hr {
    color: aliceblue;
}
img {
    border-radius: 0.25em;
}

/* FLEXBOX STUFF ------------------------------------------------------*/

.flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
}

/* LINK STYLES --------------------------------------------------------------*/

a {
    text-decoration: none;
}
a:link, :visited{
    color: aliceblue;
    background-color: transparent;
}
a:hover {
    color: #ddff99;
    background-color: transparent;
}
a:active {
    color: #558000;
    background-color: transparent;
}